#actorDetails {
  padding: 40px 0;
  .actorDetails {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
    &--block {
        
      h3 {
        margin-top: 20px;
      }
    }
    img {
      border-radius: 10px;
    }
    &--card {
      h1 {
        margin-bottom: 20px;
      }
      span {
        color: green;
        cursor: pointer;
      }
    }
  }
}
