#header {
  padding: 30px 0;
  background: rgb(55, 50, 90);
  position: sticky;
  top: 0;
  z-index: 99;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--nav {
      a {
        color: white;
        font-size: 15px;
        font-weight: 600;
        margin: 0px 14px;
      }
      .active {
        color: blue;
      }
    }
    select {
      background: none;
      border: 2px solid white;
      border-radius: 10px;
      outline: none;
      padding: 6px 13px;
      color: white;
      option {
        background: gray;
      }
    }
    &--search {
      input {
        font-size: 17px;
        padding: 8px 5px;
        border: none;
        border-bottom: 2px solid white;
        background: transparent;
        outline: none;
        color: white;
        &::placeholder {
          color: white;
        }
      }
      button {
        font-size: 18px;
        padding: 3px 10px;
        background: white;
        border: none;
        border-radius: 8px;
        margin-left: 20px;
      }
    }
    a {
      color: white;
      font-size: 23px;
    }
    h5 {
      padding: 0px 6px 2px 6px;
      background: red;
      border-radius: 50%;
      font-size: 12px;
      color: white;
      position: absolute;
      right: 52px;
      top: 27px;
    }
  }
}
