#actorsMovie {
  padding: 30px 0;
  .actorsMovie {
    overflow-x: scroll;
    width: 820px;
    gap: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    &--img {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
  }
}
